<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

<div class="registration_container">
  <h3>ルーム情報登録</h3>

  <%= form_with model: @room_registration do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <div class="registration">
      <%= f.label :room_name, "ルーム名", class:"bold" %><br>
      <%= f.text_field :room_name, class:"input_field", placeholder: "ルーム名を入力" %>
    </div> 
    <div class="registration">
      <%= f.label :room_introduction, "ルーム紹介", class:"bold" %><br>
      <%= f.text_area :room_introduction, class:"wide_field", placeholder: "ルームの説明を入力" %>
    </div>
    <div class="registration">
      <%= f.label :room_price, "料金", class:"bold" %><br>
      <%= f.number_field :room_price, class:"input_field", placeholder: "１日あたりの料金を入力"  %>
    </div>
    <div class="registration">
      <%= f.label :room_address, "住所", class:"bold" %><br>
      <%= f.text_field :room_address, class:"input_field", placeholder: "住所を入力" %>
    </div>
    <div class="registration">
      <%= f.label :room_image, "ルーム画像", class:"bold" %><br>
      <%= f.file_field :room_image, class:"input_field" %>
    </div>
    <div class="registration">
      <%= f.submit "登録", class: "submit" %>
    </div>
  <% end %>

</div>
