<div class="booking_container">
  <h3>ルーム予約済情報一覧</h3>

  <div>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>ユーザー名</th>
          <th>ユーザーID</th>
          <th>ルーム画像</th>
          <th>ルーム名</th>
          <th>ルーム紹介</th>
          <th>合計金額</th>
          <th>開始日</th>
          <th>終了日</th>
          <th>予約確定日時</th>
        </tr>
      </thead>
      <% @room_bookings.each do |room_booking| %>
        <tbody>
          <tr>
            <td><%= room_booking.user.name %></td>
            <td><%= room_booking.user.id %></td>
            <td><%= image_tag room_booking.room_registration.room_image.thumb300.url %></td>
            <td><%= room_booking.room_registration.room_name %></td>
            <td><%= room_booking.room_registration.room_introduction %></td>
            <td><%= room_booking.room_registration.room_price %></td>
            <td><%= room_booking.start_date %></td>
            <td><%= room_booking.end_date %></td>
            <td><%= room_booking.created_at %></td>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>
</div>
